<% include partials/header %>
<h1>Create a new place</h1>

<form action="/photographs" method="POST">
    <input type="text" placeholder="name" name="place">
    <input type="text" placeholder="image url" name="image">
    <button>Submit!</button>
</form>

<a href="/photographs">Go Back</a>

<% include partials/footer %>