<% include partials/header%>

<h1>photographs page</h1>

<a href="/photographs/new">Add New Place</a>
<% photographs.forEach(function(photo){ %>
<div>
    <h3><%= photo.name%></h3>
    <img src="<%=photo.image%>" alt="">
</div>
<% }) %>

<% include partials/footer%>
